<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>1_Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>  
  
  <!-- TestServlet1 -->
  <servlet>
  	<!-- 서블릿 등록 작업 -->
  	<servlet-name>TestServlet1</servlet-name>
  	<servlet-class>com.kh.servlet.TestServlet1</servlet-class>
  </servlet>  
  	
  	<!-- 해당 서블릿의 동작 설정 -->
  	<servlet-mapping>
  		<!-- 어떤 주소로 들어오면 어떤 서블릿을 실행할 것인지 설정 -->
  		<servlet-name>TestServlet1</servlet-name>
  		<url-pattern>/testServlet1.do</url-pattern>
  	</servlet-mapping>
  	
</web-app>